:root {
  --dark-green: #344E41;
  --light-green: #7EA172;
  --dark-brown: #230C0F;
  --light-brown: #99621E;
  --blue: #031D44;
}

* {
  margin: 0;
  padding: 0;
  /* ignore padding in the overall width */
  box-sizing: border-box;
}

body {
  color: var(--dark-brown);
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: var(--dark-green);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--light-green);
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: var(--light-green);
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

footer {
  background-color: var(--light-brown);
  width: 100%;
  padding: 30px;
}

footer h2 {
  display: inline;
  color: var(--dark-brown);
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  text-align: right;
}

section {
  padding: 60px;
}

.hero {
  background-image: url('../images/bulb.jpg');
  height: 650px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-form {
  background-color: var(--light-green);
  padding: 20px;
  width: 500px;
  color: var(--dark-green);
  border: 3px solid var(--dark-green);
  position: absolute;
  top: 120px;
  right: 100px;
}

.hero-form h3 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.hero-form label {
  margin: 0 5px;
}

.form-input {
  border: 1px solid var(--dark-green);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--dark-green);
  width: 100%;
  margin-bottom: 15px;
}

.hero-form button {
  color: var(--light-green);
  background-color: var(--dark-green);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}